useDynLib(gglasso, .registration = TRUE)
importFrom(utils,head,tail,packageDescription)
export(gglasso,
cv.gglasso,
cv.hsvm,
cv.logit,
cv.sqsvm,
cv.ls,
predict.gglasso,
coef.gglasso)

S3method("print","gglasso")
S3method("coef","gglasso")
S3method("coef","cv.gglasso")
S3method("plot","gglasso")
S3method("plot","cv.gglasso")
S3method("predict","gglasso")
S3method("predict","cv.gglasso")

importFrom("grDevices", "rainbow")
importFrom("graphics", "abline", "axis", "par", "plot.default",
"points", "segments")
importFrom("methods", "cbind2", "rbind2")
importFrom("stats", "approx", "coef", "predict")